[submodule "Engine/Nit/ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/asu4net/glfw.git
[submodule "Engine/Nit/ThirdParty/glm"]
	path = ThirdParty/glm
	url = https://github.com/asu4net/glm.git
[submodule "Engine/Nit/ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/asu4net/imgui.git
	branch = docking
[submodule "ThirdParty/imguizmo"]
	path = ThirdParty/imguizmo
	url = https://github.com/asu4net/imguizmo.git
[submodule "ThirdParty/yaml-cpp"]
	path = ThirdParty/yaml-cpp
	url = https://github.com/asu4net/yaml-cpp.git
